#app {
    padding: 50px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}
#app .body {
    height: 100%;
}
#app .body .el-col {
    height: 100%;
    overflow-y: auto;
}

.tree {
    height: 100%;
}
.tree .el-tree-node__content {
    height: auto;
}
.tree .tree-content {
    padding: 10px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.tree .el-tree-node__loading-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 2px;
}
.tree .el-tree-node__content .custom-tree-node {
    display: flex;
    align-items: center;
}
.tree .none {
    display: none;
}
.tree i {
    font-size: 24px;
    margin-right: 5px;
}

.el-table .cell {
    white-space: pre-wrap;
    line-height: 24px;
}
.el-dialog__body {
    white-space: pre-wrap;
    line-height: 24px;
}
.view {
    white-space: pre-wrap;
    line-height: 24px;
}

.loading {
    width: 100%;
    height: 100%;
    text-align: center;
}
